<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CHAT_APP/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="chat-container">
        <h2>Chat app G21</h2>
        <div class="chat-box"></div>
        <input type="text" class="inputmessage" id="inputmessage">
        <button id="chatbtn">send</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/CHAT_APP/public/js/client.js"></script>
</body>
</html>